.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 8rem;
  min-height: 100vh;
  gap: 7rem;
}

#hero-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  margin: 0;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
}

#about h2 {
  text-align: left;
}

#about p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: block;
  text-align: justify;
  width: 80%;
  max-width: 800px;
  height: auto;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero #about p {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.circular-img {
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 20%;
}

.highlight-keywords {
  margin-top: 1rem;
}

.keyword {
  color: var(--highlight-color);
  font-weight: bold;
}

@media screen and (max-width: 540px) {
  .circular-img {
    width: 180px;
    height: 180px;
  }

  .social-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero #about p {
    font-size: 1rem;
  }

  .btn-social {
    padding: 0.4rem 0.8rem;
    width: 85%;
  }
}

@media screen and (max-width: 1400px) {
  .hero {
    flex-direction: column;
    gap: 2.5rem;
  }

  #hero-container {
    justify-content: center;
  }

  #about {
    align-items: center;
    justify-content: flex-start;
  }

  #about p {
    margin: auto;
  }
}
