footer {
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
  background-color: #343b4784;
  text-align: right;
  padding: 1rem;
  font-size: 0.9rem;
  margin-top: 5rem;
}

.contact-link {
  color: var(--highlight-color);
  font-weight: bold;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}

.copyright {
  color: #ffffff;
  font-size: 0.8rem;
  text-align: left;
  margin-left: 2rem;
}
