.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 8rem;
  min-height: 100vh;
}

#hero-container {
  padding-bottom: 0px;
  margin-bottom: 3rem;
}

#about {
  margin-top: 0px;
  padding-top: 0px;
}

#about h2 {
  text-align: center;
}

#about p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: block;
  text-align: justify;
  width: 40%;
  margin: auto;
  height: auto;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero p {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.circular-img {
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 20%;
}

.highlight-keywords {
  margin-top: 1rem;
}

.keyword {
  color: var(--highlight-color);
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .circular-img {
    width: 180px;
    height: 180px;
  }

  .social-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .btn-social {
    padding: 0.4rem 0.8rem;
    width: 75%;
  }

  #about p {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  #about p {
    width: 80%;
  }
}
